<div class="container mt-4" *ngIf="venue">
<h1>{{ venue.name }}</h1>

<p>{{ venue.description }}</p>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Availabilty</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngIf="isRessourceOwner" class="table-success">
      <td>
        <input type="date" [(ngModel)]="newDate" min="2023-12-08" max="2023-12-23" id="tsdate" class="form-control">
      </td>
      <td>
        <input type="time" [(ngModel)]="newTime" class="form-control">
      </td>
      <td></td>
      <td>
        <button class="btn btn-outline-success" (click)="addTimeSlot()">add timeslot</button>
      </td>
    </tr>

    <tr *ngFor="let slot of venue.slots">

      <td>{{ slot.time | date:"dd. MMM yyyy" }}</td>
      <td>{{ slot.time | date:"HH:mm" }}</td>

      <td>
        <span *ngIf="slot.artistID !== 0" class="badge text-bg-warning">booked</span>
        <span *ngIf="slot.artistID === 0" class="badge text-bg-success">available</span>
      </td>

      <td *ngIf="!isRessourceOwner && isArtist">
        <button *ngIf="slot.artistID !== 0" class="btn btn-outline-secondary" disabled>apply</button>
        <button *ngIf="slot.artistID === 0" class="btn btn-dark" (click)="applyForTimeslot(slot)">apply</button>
      </td>

      <td *ngIf="!isRessourceOwner && !isArtist"></td>

      <td *ngIf="isRessourceOwner">
        <button class="btn btn-outline-danger" (click)="deleteTimeslot(slot)">delete</button>
      </td>

    </tr>
  </tbody>
</table>
</div>

