<div class="container mt-4" *ngIf="venue">
  <h1>{{ venue.name }}</h1>

  <a href="{{ createGoogleMapsQuery(venue) }}">{{ venue.address }}</a>

  <p>
    {{ venue.description }}
    <br>
    <a href="{{ translationLink }}" *ngIf="translationLink"><small>{{ "venue.translate" | translate }}</small></a>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>{{ "venue.date" | translate }}</th>
        <th>{{ "venue.time" | translate }}</th>
        <th>{{ "venue.duration" | translate }}</th>
        <th>{{ "venue.type" | translate }}</th>
        <th class="text-end">{{ "venue.pay" | translate }}</th>
        <th>{{ "venue.benefits" | translate }}</th>
        <th>{{ "venue.amplifier" | translate }}</th>
        <th class="text-center">{{ "venue.availability" | translate }}</th>
        <th>{{ "venue.option" | translate }}</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="isRessourceOwner" class="table-success">
        <td>
          <div class="form-floating">
            <input id="newDate" type="date" [(ngModel)]="newDate" min="2024-12-05" max="2024-12-22"
              class="form-control">
            <label for="newDate">{{ "venue.newDate" | translate }}</label>
          </div>
        </td>

        <td>
          <div class="form-floating">
            <select id="newTime" class="form-select" [(ngModel)]="newTime">
              <option *ngFor="let time of getValidTimes()" [ngValue]="time">{{ time }}</option>
            </select>
            <label for="newTime">{{ "venue.newTime" | translate }}</label>
          </div>
        </td>

        <td>
          <div class="form-floating" style="max-width: 100px;">
            <input id="duration" type="number" [(ngModel)]="newTimeslot.duration" class="form-control">
            <label for="duration">{{ "venue.durationMinutes" | translate }}</label>
          </div>
        </td>

        <td>
          <div class="form-floating">
            <select id="newType" class="form-select" [(ngModel)]="newTimeslot.private">
              <option [ngValue]="false">{{ "venue.public" | translate }}</option>
              <option [ngValue]="true">{{ "venue.private" | translate }}</option>
            </select>
            <label for="newType">{{ "venue.type" | translate }}</label>
          </div>
        </td>

        <td>
          <div class="form-floating" style="max-width: 100px;">
            <input id="pay" type="number" [(ngModel)]="newTimeslot.pay" class="form-control">
            <label for="pay">CHF</label>
          </div>
        </td>

        <td>
          <div class="form-floating">
            <input id="benefits" type="text" [(ngModel)]="newTimeslot.benefits" class="form-control">
            <label for="benefits">{{ "venue.benefits" | translate }}</label>
          </div>
        </td>

        <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="ampavailable" [(ngModel)]="newTimeslot.amplifier">
                {{ (newTimeslot.amplifier ? "venue.yes" : "venue.no") | translate }}
            </div>
        </td>

        <td></td>

        <td>
          <button class="btn btn-outline-success" (click)="addTimeSlot()">{{ "venue.add" | translate }}</button>
        </td>
      </tr>

      <tr *ngFor="let slot of venue.slots">

        <td>{{ slot.time | date:"dd. MMM yyyy" }}</td>
        <td>{{ slot.time | date:"HH:mm":'UTC+1' }}</td>

        <td class="text-end">{{ slot.duration }} min</td>

        <td>
          <i class="{{ slot.private ? 'bi bi-house-lock' : 'bi bi-people-fill' }}"
            title="{{ slot.private ? ('venue.private' | translate) : ('venue.public' | translate) }}">
          </i>
        </td>

        <td class="text-end">{{ slot.pay }} CHF</td>

        <td>
          {{ slot.benefits }}
          <br>
          <a *ngIf="slot.benefits" href="{{ getTranslationLink(slot.benefits) }}"><small>{{ "venue.translate" | translate }}</small></a>
        </td>

        <td>
          <i class="{{ slot.amplifier ? 'bi bi-speaker-fill' : 'bi bi-volume-mute-fill' }}"
            title="{{ (slot.amplifier ? 'venue.yes' : 'venue.no') | translate }}">
          </i>
        </td>

        <td class="text-center">
          <span *ngIf="slot.artistID !== 0" class="badge text-bg-warning">{{ "venue.booked" | translate }}</span>
          <span *ngIf="slot.artistID === 0" class="badge text-bg-success">{{ "venue.available" | translate }}</span>
        </td>

        <td *ngIf="!isRessourceOwner && isArtist">
          <button *ngIf="slot.artistID === 0" class="btn"
            class="{{ hasAlreadyApplied(slot) ? 'disabled btn-sm btn-outline-warning' : 'btn-success' }}"
            (click)="applyForTimeslot($event, slot)">{{ hasAlreadyApplied(slot) ? ("venue.pending" | translate) :
            ("venue.apply" | translate) }}</button>
        </td>

        <td *ngIf="!isRessourceOwner && !isArtist"></td>

        <td *ngIf="isRessourceOwner">
          <button *ngIf="slot.artistID === 0" class="btn btn-outline-danger" (click)="deleteTimeslot(slot)">{{
            "venue.delete" | translate }}</button>
          <button *ngIf="slot.artistID !== 0" class="btn btn-outline-secondary" disabled>{{ "venue.delete" | translate
            }}</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>