

<div class="container p-3 mt-3">

<h3>{{ "profile.updateUser" | translate }}</h3>

<label for="username" class="mt-3">{{ "register.username" | translate }}</label>
<input type="text" id="username" class="form-control" [(ngModel)]="profile.user.username">

<label for="email" class="mt-3">{{ "register.email" | translate }}</label>
<input type="text" id="email" class="form-control" [(ngModel)]="profile.user.email">

<button class="btn btn-success mt-2" (click)="updateUser()">{{ "profile.update" | translate }}</button>
<span *ngIf="userSuccess" class="m-3 text-success">{{ userSuccess }}</span>
<span *ngIf="userError" class="m-3 text-danger">{{ userError }}</span>


</div>



<div *ngIf="profile.user.type == 2" class="container p-3 mt-3">

<h3>{{ "profile.updateVenue" | translate }}</h3>

<label for="venuename" class="mt-3">{{ "register.venueName" | translate }}</label>
<input type="text" id="venuename" class="form-control" [(ngModel)]="profile.venue.name">

<label for="venuecontact" class="mt-3">{{ "register.contact" | translate }}</label>
<input type="text" id="venuecontact" class="form-control" [(ngModel)]="profile.venue.contact" placeholder="contact@venue.ch">

<label for="venuephone" class="mt-3">{{ "register.phone" | translate }}</label>
<input type="text" id="venuephone" class="form-control" [(ngModel)]="profile.venue.phone" placeholder="+41 79 111 22 33">

<label for="address" class="mt-3">{{ "register.address" | translate }}</label>
<input type="text" id="address" class="form-control" [(ngModel)]="profile.venue.address" placeholder="Hauptstrasse 1">

<label for="zip" class="mt-3">{{ "register.zip" | translate }}</label>
<input type="number" id="zip" class="form-control" [(ngModel)]="profile.venue.zip" placeholder="7260">

<label for="city" class="mt-3">{{ "register.city" | translate }}</label>
<input type="text" id="city" class="form-control" [(ngModel)]="profile.venue.city" placeholder="Davos">

<label for="description" class="mt-3">{{ "register.description" | translate }}</label>
<textarea id="description" class="form-control" [(ngModel)]="profile.venue.description"></textarea>

<button class="btn btn-success mt-2" (click)="updateVenue()">{{ "profile.update" | translate }}</button>
<span *ngIf="detailSuccess" class="m-3 text-success">{{ detailSuccess }}</span>
<span *ngIf="detailError" class="m-3 text-danger">{{ detailError }}</span>
</div>



<div *ngIf="profile.user.type == 1" class="container p-3 mt-3">

<h3>{{ "profile.updateArtist" | translate }}</h3>

<label for="artistname" class="mt-3">{{ "register.artistName" | translate }}</label>
<input type="text" id="artistname" class="form-control" [(ngModel)]="profile.artist.name">

<label for="artistcontact" class="mt-3">{{ "register.contact" | translate }}</label>
<input type="text" id="artistcontact" class="form-control" [(ngModel)]="profile.artist.contact" placeholder="contact@artist.ch">

<label for="artistphone" class="mt-3">{{ "register.phone" | translate }}</label>
<input type="text" id="artistphone" class="form-control" [(ngModel)]="profile.artist.phone" placeholder="+41 79 111 22 33">

<label for="genere" class="mt-3">{{ "register.genere" | translate }}</label>
<input type="text" id="genere" class="form-control" [(ngModel)]="profile.artist.genere">

<label for="description" class="mt-3">{{ "register.description" | translate }}</label>
<textarea id="description" class="form-control" [(ngModel)]="profile.artist.description"></textarea>





<h4 class="mt-3">{{ "profile.socials" | translate }}</h4>
<table id="socials">
    <tr>
        <th>{{ "profile.platform" | translate}}</th>
        <th>{{ "profile.link" | translate }}</th>
    </tr>
    <tr *ngFor="let link of profile.artist.socials; index as i">
        <td class="pe-2">
            <input type="text" class="form-control" [(ngModel)]="profile.artist.socials[i].platform">
        </td>
        <td class="pe-2">
            <input type="text" class="form-control" [(ngModel)]="profile.artist.socials[i].link">
        </td>
        <td>
            <button class="btn btn-outline-danger" (click)="removeSocial(profile.artist.socials[i])">{{ "venue.delete" | translate }}</button>
        </td>
    </tr>
    <tr>
        <td class="pe-2">
            <input type="text" class="form-control" [(ngModel)]="newSocial.platform" placeholder="facebook">
        </td>
        <td class="pe-2">
            <input type="text" class="form-control" [(ngModel)]="newSocial.link" placeholder="https://facebook.com/my-profile">
        </td>
        <td>
            <button class="btn btn-outline-success" (click)="addSocial()">{{ "venue.add" | translate }}</button>
        </td>
    </tr>
</table>

<button class="btn btn-success mt-2" (click)="updateArtist()">{{ "profile.update" | translate }}</button>
<span *ngIf="detailSuccess" class="m-3 text-success">{{ detailSuccess }}</span>
<span *ngIf="detailError" class="m-3 text-danger">{{ detailError }}</span>

</div>