<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/dashboard"><img src="assets/logo.png" alt="" height="30px"></a>

    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/dashboard">{{ "header.dashboard" | translate }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/artists">{{ "header.artists" | translate }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/venues">{{ "header.venues" | translate }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">{{ "header.profile" | translate }}</a>
        </li>

        <li>
          <select name="lang" id="lang" class="form-select" [(ngModel)]="language" (change)="setLanguage(language)">
            <option [ngValue]="'en'">en</option>
            <option [ngValue]="'de'">de</option>
          </select>
        </li>
      </ul>
    </div>

    <div>
      <button *ngIf="isLoggedIn" class="btn btn-outline-light" type="submit" (click)="logout()">{{ "header.logout" | translate }}</button>
      <button *ngIf="!isLoggedIn" class="btn btn-light me-2" type="submit" routerLink="/login">{{ "header.login" | translate }}</button>
      <button *ngIf="!isLoggedIn" class="btn btn-outline-light" type="submit" routerLink="/register">{{ "header.register" | translate }}</button>
    </div>

    <button *ngIf="isLoggedIn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
