<div class="container mt-4">
<h1>{{ "dashboard.dashboard" | translate }}</h1>

<ul class="nav nav-tabs mt-4">
    <li class="nav-item nav-link" [ngClass]="{'active': !showConfirmed}" (click)="showConfirmed = false">
        {{ "dashboard.pending" | translate }}
        <span *ngIf="openApplications.length > 0" class="badge rounded-pill bg-danger">{{ openApplications.length }}</span>
    </li>
    <li class="nav-item nav-link" [ngClass]="{'active': showConfirmed}" (click)="showConfirmed = true">
        {{ "dashboard.confirmed" | translate }}
        <span *ngIf="confirmedTimeslots.length > 0" class="badge rounded-pill bg-secondary">{{ confirmedTimeslots.length }}</span>
    </li>
</ul>

<div class="container border-top-0 pt-4 px-0">

<table *ngIf="!showConfirmed && openApplications.length > 0" class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>{{ isArtist ? "Location" : "Artist" }}</th>
        <th>Pay</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let application of openApplications">
            <td>{{ application.timeslot.time | date:"dd. MMM yyyy" }}</td>
            <td>{{ application.timeslot.time | date:"HH:mm" }}</td>

            <td *ngIf="!isArtist"><a [routerLink]="['/artists', application.artist.ID]">{{ application.artist.name }}</a></td>
            <td *ngIf="isArtist"><a [routerLink]="['/venues', application.timeslot.venueID]">{{ getVenueNameByVenueID(application.timeslot.venueID) }}</a></td>

            <td>{{ application.timeslot.pay }} CHF</td>
            <td *ngIf="!isArtist">
                <button class="btn btn-outline-success" (click)="acceptApplication(application)">{{ "dashboard.accept" | translate }}</button>
                <button class="btn btn-outline-danger mx-1" (click)="revokeApplication(application)">{{ "dashboard.decline" | translate }}</button>
            </td>
            <td *ngIf="isArtist">
                <button class="btn btn-outline-danger" (click)="revokeApplication(application)">{{ "dashboard.retract" | translate }}</button>
            </td>
        </tr>
</table>

<p *ngIf="!showConfirmed && openApplications.length <= 0">{{ "dashboard.noPending" | translate }}</p>

<table *ngIf="showConfirmed && confirmedTimeslots.length > 0" class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>{{ isArtist ? "Location" : "Artist" }}</th>
        <th>Pay</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let timeslot of confirmedTimeslots">
            <td>{{ timeslot.time | date:"dd. MMM yyyy" }}</td>
            <td>{{ timeslot.time | date:"HH:mm" }}</td>

            <td *ngIf="!isArtist"><a [routerLink]="['/artists', timeslot.artistID]">{{ timeslot.artist?.name }}</a></td>
            <td *ngIf="isArtist"><a [routerLink]="['/venues', timeslot.venueID]">{{ getVenueNameByVenueID(timeslot.venueID) }}</a></td>

            <td>{{ timeslot.pay }} CHF</td>

            <td>
                <span *ngIf="!isArtist" >
                    <a href="mailto:{{ timeslot.artist?.contact }}">{{ timeslot.artist?.contact }}</a>
                    <br>
                    <a href="tel:{{ timeslot.artist?.phone}}">{{ timeslot.artist?.phone }}</a>
                </span>
                <span *ngIf="isArtist">
                    <a href="mailto:{{ getVenueContactByVenueID(timeslot.venueID) }}">{{ getVenueContactByVenueID(timeslot.venueID) }}</a>
                    <br>
                    <a href="tel:{{ getVenuePhoneByVenueID(timeslot.venueID) }}">{{ getVenuePhoneByVenueID(timeslot.venueID) }}</a>
                </span>
            </td>
        </tr>
</table>

<p *ngIf="showConfirmed && confirmedTimeslots.length <= 0">{{ "dashboard.noConfirmed" | translate }}</p>

</div>
</div>